{% extends "base_page.html" %}

{% block styles %}
    {{ super() }}
{% endblock styles %}

{% block content %}
    <section class="pt-5">
        <div class="container text-center pt-3 pb-3 rounded-4">
            <h1 class="text-center pt-3"></h1>
            <h2 class="text-center pt-3"></h2>
            <h3 class="text-center pt-3"></h3>
            <h3 class="text-center pt-3"></h3>
            <p class="pt-3">
                <a href="{{ url_for('getUnit', id=0) }}" class="btn btn-primary">Начать</a>
            </p>
        </div>
    </section>
{% endblock content %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}

